@include mobile-view{

    .music-player__row{
        display: block;
        position: relative;

        &__one {
            @include transition;
            display: none;
            position: absolute;           
        }
    
        &__two {
            width: 100vw;
            .header{
                img{
                    visibility: visible;
                    position: fixed;
                    top: 1.5rem;
                    right:1rem;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                }
            }

            .music-section__select{
                margin: 3px;

                .music {
                    margin: .5rem 5px;
                }
            }
        }
    
        &__three {
            position: fixed;
            bottom: 0;
            width: 100vw;
            height: 5vh;
            
     
            #canvas{
                position: absolute;
                bottom: 1px;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
    }

        .footer {
            // bottom: 6vh;
            &__alert {
                right: 10px;

                &.show {
                    transform: translateY(0);
                }
            }
    
            .track {
    
                & > * {
                    margin: 0;
                }
    
                &__name {
                    margin-top: 7px;
                    width: 10%;
                    height: 50%;
                    overflow: auto;
    
                    strong {
                        font-size: $fn-small;
                    }
    
                    p {
                        font-size: 10px;
                    }
                }
    
                &__control {
                    margin-top: 7px;
                    height: 40px;
            
                    & > * {
                        padding: 6px;
                        margin: 3px;
                        font-size: 27px;

                        &:hover{
                            background-color: none;
                        }
                    }
                    
                    .curr-repeat{
                        right: 10px;
                    }
                }
    
                .timer {
                    height: 20px;
                    padding-right: 2px;
                    margin-top: 7px;
                }
    
                .volume {
                    display: none;
                }
            }
        }
}