@include mobile-view{

    .music-player__row{
        display: block;
        position: relative;

        &__one {
            @include transition;
            transform: translateX(-150%);
            position: absolute;
            background-color: grey;
            z-index: 1;
            width: 70vw;            
        }
    
        &__two {
            width: 100vw;
            .header{
                img{
                    visibility: visible;
                    position: fixed;
                    top: 1.5rem;
                    right:1rem;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                }
            }

            .music-section__select{
                margin: 3px;

                .music {
                    margin: .5rem 5px;
                }
            }
        }
    
        &__three {
            display: none;
            visibility: hidden;
        }
    }


        .footer {
            // width: 100%;
            // height: 15vh;
            // display: flex;
            // justify-content: space-between;
            // border-top: 2pX solid $color-choco;
            // background-color: $color-choco;
            // overflow: hidden;
    
            &__alert {
                position: absolute;
                z-index: 3;
                bottom: 20px;
                right: 30px;
                background-color: grey;
                color: set-text-color(grey);
                font-size: $fn-small;
                padding: 8px;
                border-radius: 5px;
                @include transition;
                transform: translateY(300%);
    
                &.show {
                    transform: translateY(0);
                }
            }
    
            .track {
                // display: flex;
                // justify-content: space-between;
                // width: 100%;
                // height: 100%;
                background-color: blue;
    
                & >* {
                    margin: 2px;
                }
    
                &__name {
                    width: 10%;
                    height: 50%;
                    overflow: auto;
                    background-color: red;
    
                    strong {
                        font-size: $fn-small;
                        // color: $color-orange;
                    }
    
                    p {
                        font-size: 10px;
                    }
                }
    
                &__control {
                    display: fixed;
                    left: 50%;
                    right: 50%;
                    transform: translateX(-50%, -50%);
                    margin-top: .6rem;
                    height: 40px;
                    background-color: red;
         
    
    
                    & > * {
                        padding: 2px 8px;
                        border-radius: 0;
                        font-size: $fn-large;
                        // margin: auto;
                        // cursor: pointer;
    
                        // &:hover {
                        //     background: $color-hover-2;
                        // }
    
                        // .hide {
                        //     visibility: hidden;
                        // }
                    }
                }
    
                .timer {
                    // display: inline-block;
                    height: 20px;
                    padding: 0;
                    background-color: red;
                    // font-size: $fn-small;
                }
    
                .volume {
                    padding: 1rem;
                    height: 0;
                    // background-color: red;
            
                    // height: 10px;
                    // width: 6px;
                    background-color: red;
                    // bottom: 0;

                    & > * {

                    }
               
                }
            }
    
            .duration {
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: red;
                padding: 5px;
                display: flex;
    
                & > * {
                    margin: 0 auto;
                    width: 50%;
                    margin-bottom: 1rem;
                }
            }
    
            // input[type="range"] {
            //     -webkit-appearance: none;
            //     appearance: none;
            //     background: $color-orange;
            //     height: 5px;
            //     border-radius: 3rem;
            //     cursor: pointer;
    
            //     &::-webkit-slider-thumb {
            //         -webkit-appearance: none;
            //         appearance: none;
            //         background-color: set-text-color($color-black);
            //         height: 1.3rem;
            //         width: 1.3rem;
            //         border-radius: 50%;
            //     }
            // }
        }
}