<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2dfc8161ff.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../dist/css/main.css" />
    <title>Custume music player</title>
  </head>
  <body>
    <div class="container">
      <div class="music-player">
        <div class="music-player__row">
          <div class="music-player__row__one">
            <div class="music-player__row__one__section">
              <form action="" class="form" autocomplete="off">
                <div class="form__serch-field">
                  <input
                    type="text"
                    placeholder="search"
                    id="search"
                    class="form__serch-field__input"
                  />
                </div>
                <i class="fa-solid fa-magnifying-glass"></i>
              </form>

              <div class="nav">
                <div class="nav__home">
                  <i class="fa-solid fa-house"></i>
                  <p>Home</p>
                </div>
                <div class="nav__browse">
                  <i class="fa-solid fa-music"></i>
                  <p>Music</p>
                </div>
              </div>

              <div class="library">
                <div class="library__section">
                  <div class="library__section__head">
                    <span>YOUR LIBRARY</span>
                  </div>
                  <p>made for you</p>
                  <p>recently played</p>
                  <p>liked song</p>
                  <p>Album</p>
                  <p>Artist</p>
                </div>
              </div>

              <div class="song-img">
                <img src="" alt="image" id="song_img" />
              </div>
            </div>
          </div>

          <div class="music-player__row__two">
            <div class="header">
              <div class="header__title">
                <p>Songs List</p>
              </div>

              <div class="control-btn">
                <i class="fa-solid fa-shuffle"></i>
                <i class="fa-solid fa-plus add-music"></i>
                <input type="file" name="" id="add-music" hidden />
              </div>
            </div>

            <div class="music-section">
              <div class="music-section__select">
                <div class="music">
                  <p>Post malone</p>
                  <span><i class="fa-solid fa-heart fav-select"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="music-player__row__three">
            <div class="most-played">
              <p class="most-played__head">MOST PLAYED SONGS</p>
              <div class="most-played__list">
                <p><span>ipsum dolor sit.</span> <span> (5)</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="track">
            <div class="track__name">
              <strong></strong>
              <p></p>
            </div>

            <div class="track__control">
              <i class="fa-solid fa-shuffle"></i>
              <i class="fa-solid fa-backward"></i>
              <i class="fa-solid fa-play play-btn"></i>
              <i class="fa-solid fa-forward"></i>
              <i class="fa-solid fa-repeat" style="position: relative"
                ><span
                  class="curr-repeat hide"
                  style="
                    font-size: 0.8rem;
                    padding: 5px;
                    position: absolute;
                    right: 22px;
                    color: aliceblue;
                  "
                  >1</span
                ></i
              >
            </div>

            <div class="timer">
              <p class="timer__count">00:00/00:00</p>
            </div>

            <div class="volume">
              <input
                type="range"
                min="0"
                max="100"
                value="50"
                id="volume-control"
              />
            </div>
          </div>

          <div class="duration">
            <input
              type="range"
              id="track-duration"
              min="0"
              max="100"
              value="0"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="../index.js"></script>
</html>
