*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

$fn-large: 20px;
$fn-middle: 17px;
$fn-small: 14px;

$color-black: #000;
$color-grey: #6b6161;
$color-choco: #3d18186b;
$color-orange: #ffa600b3;
$color-hover: #ffa600e0;
$color-fav: #bd374e;


@function set-text-color($color){
    @if(lightness($color) > 40%){
        @return #000;
    }
    @else{
        @return #fff;
    }
}

@mixin transition {
    transition: all .5s ease;
}
