.music-player__row__one{
            width: 100%;
            // height: 100%;
                 height: 100vh - 15vh;
            background: $color-choco;

    &__section{
        margin: 2rem auto;
        width: 70%;
        height: 100%;

        .form{
            position: relative;

            &__serch-field{
                background: $color-grey;
                padding: 6px;
                width: 90%;
                border-radius: 1rem ;
                border: 1px solid $color-black;
                margin-top: 2rem;
                
                &__input{
                    border: none;
                    outline: none;
                    background: rgba($color: #fff, $alpha: 0);
                    color: set-text-color($color-grey);
                    font-size: $fn-middle;
                }
        
                ::placeholder {
                    color: rgba($color: set-text-color($color-grey), $alpha: .6);
                    font-size: $fn-small;
                }
            }
        }

        .fa-magnifying-glass{
            position: absolute;
            top: .5rem;
            right: 1.5rem;
            font-size: $fn-middle;
            cursor: pointer;
            @include transition;

            &:hover{
                color: $color-hover;
            }
        }

        .nav{
            margin: 3rem 0 2rem 0;

            & > *{
                display: flex;
                justify-content: space-between;
                width: 45%; 
                font-size: $fn-small;
                margin-left: 0;
                margin-bottom: 1rem;
                padding: 2px;
                cursor: pointer;
                @include transition;

                &:hover{
                    color: $color-hover;
                }
            }
        }

        .library{
            height: 40%;

            &__section{
                height: 100%;
                display: flex;
                flex-direction: column;

                &__head{
                    margin: 1rem 0;
                    
                    span {
                        font-size: $fn-middle;
                    }
                }

                p{
                    margin-bottom: 5px;
                    font-size: $fn-small;
                }
            }
        }

        .song-img{
            height: 25%;
            background-color: aqua;
        
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}
